@model CategoryModel
@{
    ViewData["title"] = "Tạo danh mục sản phẩm";
}
<h4>Danh mục sách mới</h4>
<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Tên danh mục: </label><input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
    
        <div class="form-group">
            <label>Mô tả danh mục: </label><textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
       
        <div class="form-group">
            <label>Trạng thái</label>
            <select asp-for="Status" class="form-control">
                <option value="1">Hiện</option>
                <option value="0">Ẩn</option>
            </select>
            <span asp-validation-for="Status" class="text-danger" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Khởi tạo danh mục</button>
        </div>

        
    </form>
    <a asp-action="Index">Quay lại</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
}
