<div class="left-sidebar">
	<h2>Loại sách</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<vc:categories></vc:categories>

	</div><!--/category-products-->
	<h2>Nhà xuất bản</h2>
	<div class="panel-group category-products" id="accordian">
		<!--brands_products-->
		
		<vc:brands></vc:brands>
	</div><!--/brands_products-->

</div>