
@{
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h2>Thống kê dữ liệu</h2>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        
                        <th scope="col">Số lượng khách hàng</th>
                        <th scope="col">Số lượng đơn hàng</th>
                        <th scope="col">Số lượng e-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td>5</td>
                        <td>12</td>
                        <td>12</td>
                       
                    </tr>
                 
                </tbody>
            </table>
        </div>
    </main>
}
